.car {
    border: 1px solid grey;
    border-radius: 20px;
    width: 250px;
    margin: 20px;
    cursor: pointer;

    .imageBox {
        position: relative;

        .icon {
            position: absolute;
            color: red;
            font-size: 30px;
            top: 5px;
            right: 5px;
        }

        .emptyHeart{
            color: white;

        }

        .image {
            border: 1px solid grey;
            border-radius: 20px;

        }
    }

}