.div{
    font-size: 20px;
    font-weight: 0;
    margin: 20px;
}
.price{
    font-size: 20px;
    font-weight: 0;
    margin: 20px;
}
.car-group{
    display: flex;
    justify-content: center;
    
}
.img{
    width: 100%;
}